.container {
  height: auto; /* 높이 자동 조절 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}

.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 12px;
}

.clubName {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.clubDescription {
  color: #c8c8c8;
  max-height: calc(1.4em * 2); /* 2줄로 제한 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.2rem;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto; /* 높이 자동 조절 */
  flex: 1;
  justify-content: space-between;
  gap: 24px;
}

.leftSection {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clubImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.rightSection {
  width: 60%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.infoHeading {
  font-size: 1.5rem;
  font-weight: 600;
}

.infoText {
  font-size: 1.2rem;
}

.infoLink {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}

.divider {
  border-bottom: 1px solid #ccc;
  margin: 0 16px;
  flex-grow: 1;
}

.joinButton {
  display: block;
  width: 100%;
  background-color: #005bac;
  color: white;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.sectionTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.photoSection {
  display: flex;
  gap: 16px;
  overflow-x: auto;
}

.photoItem {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.calendarSection {
  display: flex;
  gap: 24px;
}

.eventSection {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 60px;
}

.eventBox {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 4px 12px;
  background: linear-gradient(to top left, #c8c8c8, black);
  color: white;
  border-radius: 8px;
}

.eventBox1 {
  font-size: 2rem;
  font-weight: 900;
}
.eventBox2 {
  font-size: 0.8rem;
  font-weight: 900;
}
.eventSchedule {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.eventDesc {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
}
.eventPlace {
  font-size: 1rem;
  font-weight: 400;
}

.boardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.boardItem {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.boardItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boardImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.boardTitle {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boardContent {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
