.clubItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto; /* 높이 자동 조절 */
  margin-bottom: 28px;
  gap: 12px;
}

.clubItemImg:hover {
  transform: scale(1.05);
}

.clubItemImg {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 215px;
  border-radius: 8px;
}

.clubItemContent {
  flex: 1; /* 이미지 외 공간 모두 차지 */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 상단과 하단에 배치 */
}

.clubItemMain {
  display: flex;
  flex-direction: column;
  gap: 8px; /* 제목과 설명 간격 */
}

.clubItemTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.clubItemDescription {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  max-height: calc(1.4em * 2); /* 2줄로 제한 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clubItemButton {
  background-color: #518ac7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
}

.clubItemButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .clubItem {
    gap: 16px;
  }

  .clubItemImg {
    max-width: 200px;
  }

  .clubItemTitle {
    font-size: 1.1rem;
  }

  .clubItemDescription {
    font-size: 0.9rem;
  }

  .clubItemButton {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .clubItemImg {
    max-width: 150px;
  }

  .clubItemTitle {
    font-size: 1rem;
  }

  .clubItemDescription {
    font-size: 0.85rem;
  }

  .clubItemButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
