/* Register.module.css */
.registerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 85vh;
  background-color: #f4f4f9;
}

.RegisterLogoSection {
  width: 500px;
  height: 500px;
  background: url("../assets/welcomechito.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.registerContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.registerInside {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #d6d6d6;
}

/* 인증버튼 컨테이너 */
.verifyContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.verifyButton {
  width: 30%;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.verifyButton.active {
  background-color: #8581ea;
}

/* 미디어쿼리 */
@media (max-width: 768px) {
  .registerSection {
    flex-direction: column;
  }

  .registerContainer {
    padding: 20px;
    width: 100%;
  }

  input,
  button {
    font-size: 16px;
  }

  .verifyContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .verifyButton {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .registerContainer {
    padding: 15px;
  }

  input,
  button {
    font-size: 14px;
  }

  button[type="submit"] {
    width: 100%;
  }
}
